// 폰트
$base-font : ("korean" : 'Noto Sans KR', "english" : 'Roboto');

// border 스타일
$bd-style : ("main-ul" : 2px solid #BDBDBD, "li" : 1px solid #BDBDBD);

// background color(main, footer)
$bgcolor : #F2F2F2;