body {
  text-align: center;
}

body main {
  width: 1060px;
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
  background: #F2F2F2;
  border-radius: 15px;
  text-align: center;
}

body main h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100px;
  width: 650px;
  border-bottom: 2px solid #BDBDBD;
  margin: 0 auto;
}

body main button {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 28px 30px;
}

body main button + button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

body main .movie-list article {
  padding: 0 27px 30px 27px;
  font-family: 'Noto Sans KR';
}

body main .movie-list article ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 23px;
  column-gap: 23px;
  row-gap: 24px;
  width: 1003px;
  border: 2px solid #BDBDBD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  background: #FFFFFF;
  padding: 25px 26px 29px 26px;
}

body main .movie-list article ul li {
  width: 220px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: left;
  padding-bottom: 0px;
}

body main .movie-list article ul li img {
  width: 180px;
  height: 250px;
  border: 1px solid #BDBDBD;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 19px 20px 0px 20px;
}

body main .movie-list article ul li strong {
  display: block;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
  margin: 11px 20px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body main .movie-list article ul li .spec {
  margin: 0px 20px 0px;
}

body main .movie-list article ul li .spec dl {
  float: left;
}

body main .movie-list article ul li .spec dl dt {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #828282;
}

body main .movie-list article ul li .spec dl dd {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  margin-left: 5px;
}

body main .movie-list article ul li .spec dl:nth-child(1) {
  margin-right: 40px;
}

body main .movie-list article ul li .spec dl:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 58px;
}

body main .movie-list article ul li .button.reserve,
body main .movie-list article ul li .button.preview {
  clear: both;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #F2F2F2;
  padding-top: 8px;
  padding-bottom: 11px;
  margin-bottom: 0px;
}

body main .movie-list article ul li .button.reserve .a.reserve,
body main .movie-list article ul li .button.preview .a.reserve {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom-left-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 26px;
  width: 110px;
}

body main .movie-list article ul li .button.reserve .a.preview,
body main .movie-list article ul li .button.preview .a.preview {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom-right-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 31px;
}
/*# sourceMappingURL=style.css.map */